@model TravelShare.Web.ViewModels.Trips.TripDetailedModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Trip Details";
    var currentUserId = User.Identity.GetUserId();
}

<div class="row container trip-item">
    <div class="col-md-9">
        <div class="trip-date">
            Date:
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span>@Model.Date.ToString("MMMM dd, yyyy")</span>
        </div>
        <div class="trip-from">
            From:
            <i class="fa fa-map-marker trip-from" aria-hidden="true"></i>
            <span>@Model.From</span>
        </div>
        <div class="trip-from">
            To:
            <i class="fa fa-map-marker trip-to" aria-hidden="true"></i>
            <span>@Model.To</span>
        </div>
        <div class="trip-price">
            Price:
            <span>@Model.Money</span>
            <span>lv for passenger</span>
        </div>
        <div class="trip-driver">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>@Model.Driver.UserName</span>
        </div>
        <div class="trip-description">
            @Model.Description
        </div>
        <div class="trip-passengers" id="passangersContainer">
            Passengers:
            @{
                if (Model.Passengers.Count > 0)
                {
                    <ul id="passangersList">
                        @foreach (var pass in Model.Passengers)
                        {
                            <li data-user="@pass.UserName">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>@pass.UserName</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @:None
                }
            }
        </div>
        <div class="col-md-3 text-center">
            <div class="trip-seats">
                @{
                    var availableSlots = Model.Slots - Model.Passengers.Count;
                    <span id="availableSlots">@availableSlots</span>
                }
                <span>available seats</span>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        @Html.HiddenFor(x => x.Id, new { id = "tripId" })
                        @Html.AntiForgeryToken()
                        if (!Model.IsUserIn && Model.Slots - Model.Passengers.Count > 0 && Model.DriverId != currentUserId)
                        {
                            <input class="btn btn-lg btn-primary btn-book-plase" id="joinTrip" type="submit" value="Book a place now" />
                            <input class="btn btn-lg btn-warning btn-book-plase" id="leaveTrip" type="submit" value="Leave trip" style="display:none" />
                        }
                        if (Model.IsUserIn)
                        {
                            <input class="btn btn-lg btn-primary btn-book-plase" id="joinTrip" type="submit" value="Book a place now"  style="display:none" />
                            <input class="btn btn-lg btn-warning btn-book-plase" id="leaveTrip" type="submit" value="Leave trip" />
                        }


                    }

                    if (Model.DriverId == currentUserId)
                    {
                        using (Html.BeginForm("DeleteTrip", "Trip", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            @Html.HiddenFor(x => x.Id)
                            <input class="btn btn-lg btn-danger btn-book-plase" type="submit" value="Delete this trip" />
                            }
                        }
                }
            </div>
        </div> 
    </div>
</div>
@section scripts{
    <script>
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
        $("#joinTrip").click(function () {
           
            $.ajax({
                url: "/Trip/JoinTrip",
                data: { tripId: $("#tripId").val(),  __RequestVerificationToken:gettoken() },
                success: function myfunction(data) {
                    if (data.notFound == "True") {
                        $("#joinTrip").text("Something Went Wrong");
                        $("#joinTrip").attr('disabled', 'disabled');
                    }
                    if (data.alreadyIn == "True") {
                        $("#joinTrip").hide();
                        $("#leaveTrip").show();
                    }
                    console.log(data);
                    $("#availableSlots").html(data.slots);
                    var passangersList = $("#passangersList");
                    if (passangersList.length === 0) {
                        $("#passangersContainer").html('<ul id="passangersList"><li data-user=' + data.newPassangerName + '><i class="fa fa-user" aria-hidden="true"></i><span>' + data.newPassangerName + '</span></li></ul>')
                    }
                    else {
                        passangersList.append('<li data-user=' + data.newPassangerName + '><i class="fa fa-user" aria-hidden="true"></i><span>' + data.newPassangerName + '</span></li>');
                    }
                    $("#joinTrip").hide();
                    $("#leaveTrip").show();
                },
                method: "POST"
            });
        });

        $("#leaveTrip").click(function () {
            $.ajax({
                url: "/Trip/LeaveTrip",
                data: { tripId: $("#tripId").val(), __RequestVerificationToken: gettoken() },
                success: function myfunction(data) {
                    if (data.notFound == "True") {
                        $("#joinTrip").text("Something Went Wrong");
                        $("#joinTrip").attr('disabled', 'disabled');
                    }
                    if (data.notIn == "True") {
                        $("#joinTrip").show();
                        $("#leaveTrip").hide();
                    }
                    console.log(data);
                    var $userLi;
                    $('li[data-user]').each(function (index, element) {
                        if ($(element).data("user") == data.removedPassangerName) {
                            $userLi = $(element);
                        }
                    });
                    if ($userLi.length > 0) {
                        $userLi.remove();
                        $("#availableSlots").html(data.slots);
                    }

                    $("#joinTrip").show();
                    $("#leaveTrip").hide();
                },
                method: "POST"
            });
        });
        
    </script>

}

