@using System.Collections.Generic;
@model TravelShare.Web.ViewModels.Search.SearchTripResultModel



<div class="row container">
    @foreach (var trip in Model.Trips)
    {
        @Html.DisplayFor(x => trip)
    }
</div>
<div class="row">
    <ul class="pagination">
        @{
            var search = Model.SearchModel;
            var pageCount = Model.PagesCount;
            var page = Model.CurrentPage;

            if (pageCount > 0)
            {
                for (int i = 0; i < pageCount; i++)
                {
                    if (i == page)
                    {
                        <li class="active">
                            @Ajax.ActionLink((i + 1).ToString(), "FilteredTrips", new { From = Model.SearchModel.From,To = Model.SearchModel.To, Date = Model.SearchModel.Date, page = i }, new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           UpdateTargetId = "tripsPanel",
                           InsertionMode = InsertionMode.Replace
                       })
                        </li>
                    }
                    else if (page - 3 == i || page + 3 == i)
                    {
                        if (i == 0 || i == 1 || i == pageCount - 2 || i == pageCount - 1)
                        {
                            <li>
                                @Ajax.ActionLink((i + 1).ToString(), "FilteredTrips", new { From = Model.SearchModel.From, To = Model.SearchModel.To, Date = Model.SearchModel.Date, page = i  }, new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "tripsPanel",
                               InsertionMode = InsertionMode.Replace
                           })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Ajax.ActionLink("...", "FilteredTrips", new { From = Model.SearchModel.From, To = Model.SearchModel.To, Date = Model.SearchModel.Date, page = i }, new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "tripsPanel",
                               InsertionMode = InsertionMode.Replace
                           })
                            </li>
                        }

                    }
                    else if (page - 2 <= i && i <= page + 2 || i == 0 || i == pageCount - 1)
                    {
                        <li>
                            @Ajax.ActionLink((i + 1).ToString(), "FilteredTrips", new { From = Model.SearchModel.From, To = Model.SearchModel.To, Date = Model.SearchModel.Date, page = i }, new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           UpdateTargetId = "tripsPanel",
                           InsertionMode = InsertionMode.Replace
                       })
                        </li>

                    }

                }
            }

        }
    </ul>
</div>



