@model TravelShare.Web.ViewModels.Search.SearchTripModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Search Trip";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">@ViewBag.Title</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
                <br />
                <div class="col-md-12"></div>
                @using (Ajax.BeginForm("FilteredTrips", new { }, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    UpdateTargetId = "tripsPanel",
                    InsertionMode = InsertionMode.Replace,
                }, new { id = "ajaxForm" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.From, new { @class = "form-control", placeholder = "From" })
                                @Html.ValidationMessageFor(m => m.From)
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.To, new { @class = "form-control", placeholder = "To" })
                                @Html.ValidationMessageFor(m => m.From)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "Date", id = "datepicker" })
                                @Html.ValidationMessageFor(m => m.Date)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" id ="search-btn" value="Search" class="btn btn-primary col-md-12" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
   
</div>
<div id="tripsPanel" class="row">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maps")
    @Scripts.Render("~/bundles/jqueryui")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe4fYOMnSJGCrxb1LbuzGnX7L3q5hOk3o&libraries=places&callback=initMap">

    </script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });
        });
    </script>
<script>
        $(function () {
            $('#search-btn').click(function () {
                $('#ajaxForm').submit()
            })
        });
</script>
}

@section jqueryui{
    @Styles.Render("~/Content/jqueryui")
}

